<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fanfigures</title>
</head>
<body>
	<h1>teste</h1>
	<nav>
		<ul class="menu">
			<li><a href="#">Home</a></li>
			<li><a href="#">Sobre</a></li>
			<li><a href="#">O que fazemos?</a>
				<ul>
					<li><a href="#">Web Design</a></li>
					<li><a href="#">SEO</a></li>
					<li><a href="#">Design</a></li>
				</ul></li>
			<li><a href="#">Links</a></li>
			<li><a href="#">Contato</a></li>
		</ul>
	</nav>
</body>
<footer>
	<p>Posted by:Fanfigures</p>
	<p>
		Contact information: <a href="Fanfigures@example.com">
			someone@example.com</a>.
	</p>
</footer>
</html>