<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Fanfigures</title>
</head>
<body>
	<h1>teste</h1>
	<form>
		<div>
			<label for="produto">produto:</label> <input type="text" id="produto" />
		</div>  <br>
		<div>
			<label for="descricao">descricao:</label> <input type="text" id="descricao" />
		</div>  <br>
		<div>
			<label for="valor">valor</label> <input type="text" id="valor" />
		</div>  <br>
		<div>
			<label for="quantidade">quantidade</label> <input type="text" id="quantidade" />
		</div>

	</form>
</body>
<footer>
	<p>Posted by:Fanfigures</p>
	<p>
		Contact information: <a href="Fanfigures@example.com">
			someone@example.com</a>.
	</p>
</footer>
</html>